[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
speechrecognition = "*"
pydub = "*"
flask-talisman = "*"
flask-limiter = "*"
openai = "*"
pydantic = "*"
python-dotenv = "*"
anthropic = "*"

[dev-packages]

[requires]
python_version = "3.11"
