<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <title>LingoLake</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <h1>Speech to Text</h1>
  <button id="startRecording">Record answer</button>
  <button id="scrapRecording" disabled>Scrap</button>
  <button id="finishRecording" disabled>Finish</button>
  <p id="result"></p>

  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>